<%=doctype%>
<%=html%>
<%=head%>
<%=<title>
    <%= Manage Users %>
</title>%>
<%=/head>
<%=<body>
    <%=h1>Manage Users<%=/h1>
    <%=<table>
        <%=<thead>
        <%=<tr>
            <th><%=userid %></th>
            <th><%=username %></th>
            <th><%=email %></th>
            <th><%=password %></th>
            <th><%=usertype %></th>
        </tr>%>
        </thead>%>
    <%=<tbody>
         <%= each user in users %>
        <%=<tr>
            <td><%= user.userid %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td><%= user.usertype %></td>
        </tr>%>
    </tbody>%>
    </table>%>
</body>%>